# docker
.dockerignore
d_*
docker*

# environment
.env*
!.env.example

# framework
/.phpunit.cache
/public/build
/public/css
/public/hot
/public/js
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
auth.json
Homestead.json
Homestead.yaml
yarn-error.log
.phpunit.result.cache

# ide
/.fleet
/.idea
/.vscode
.editorconfig

# node
/node_modules
npm-debug.log
